@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-SemiBold.ttf');
}

.detalle-producto {
    display: flex;
    flex-direction: column;
background: linear-gradient(145deg, #00ddff, #2d21b5, #220258, #071b2e, #1c1c1c);    
    width: calc(100% - 800px);
    margin: 25px 400px;
    border-radius: 15px;
}

.detalle-producto .informacion-producto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detalle-producto .informacion-producto h1 {
    font-size: 7rem;
}

.detalle-producto .informacion-producto h2 {
    font-size: 1rem;
    margin-top: -10px;
    padding: 0;
}

.detalle-producto .foto-principal {
    width: 100%;
    object-fit: contain;
    margin: 0;
    padding: 0;
    border-radius: 0px 0px 10px 10px;

}

.detalle-producto .descripcion {
    width: calc(100% -200px);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 50px 100px;
}

.detalle-producto .descripcion p,
.detalle-producto .descripcion h3 {
    margin: 0;
}

.detalle-producto .descripcion h3 {
    font-size: 2rem;
}


.detalle-producto .agregar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detalle-producto .fotos-individuales {
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

.detalle-producto .fotos-individuales img {
    object-fit: contain;
    width: 500px;
}


.detalle-producto h1, .detalle-producto h2, 
.detalle-producto h3, .detalle-producto p {
    color: white;
    font-family: 'Poppins', sans-serif;
}

.detalle-producto h1, .detalle-producto h2 { 
    font-size: 2rem;
    margin: 2px;
}

.detalle-producto p {
    color: rgba(255, 255, 255, 0.708);
}