@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-SemiBold.ttf');
}

.carrito {
    position: absolute;
    padding: 2px;
    right: 2rem;
    z-index: 10;
    background-image: linear-gradient(160deg, #30b5ca6c,#2d21b57d, #b489ff70, #e073ec7c);
    background-repeat: no-repeat;
    border-radius: 10px;
}

.carrito button {
    border: none;
    border-radius: 10px;
    background-color: #000000;
}

.carrito p {
    font-family: 'Poppins', sans-serif;
    position: absolute;
    top: -1.2rem;
    right: -0.5rem;
    background-color: rgb(255, 255, 255);
    padding: 0px 5px;
    border-radius: 50px;
    color: rgb(0, 0, 0);
}

.carrito button img {
    object-fit: contain;
    width: 50px;
}

@media (max-width: 1200px) {
    .carrito button img {
        width: 40px;
    }
}