@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-SemiBold.ttf');
}

@media (max-width: 1240px) {
    .contenedor-productos .producto-individual a {
        width: 300px;
        height: 370px;
    }

        .contenedor-productos .producto-individual a img {
            width: 290px;
        }

}




