@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins-SemiBold.ttf');
}

.contenedor-productos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    align-items: center;
    justify-content: center;
    width: calc(100% -400px);
    margin: 100px 200px;
    gap: 10px 50px;
}

.contenedor-productos a {
    text-decoration: none;
}

.contenedor-productos a h1 {
    font-size: 2rem;
    text-align: center;
}

.smartphones a, .mens-watches a, .motorcycle a, .laptops a {
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 650px;
    border-radius: 10px;
    margin: 30px 20px;
}

.mens-watches a {
    margin: 20px 0px;
}

.smartphones:hover, .motorcycle:hover,
.mens-watches:hover, .laptops:hover {
    background-color: rgba(255, 255, 255, 0.098);
    border-radius: 10px;
}

.smartphones img, .motorcycle img, .mens-watches img, .laptops img {
    object-fit: contain;
    height: 300px;
    transform: scale(1.1);
}

.smartphones img, .mens-watches img {
    transform: scale(1.3);
}

.motorcycle:hover img, .laptops:hover img {
    transform: scale(1.3);
    transition: 1000ms;
}

.mens-watches {
    margin-top: -50px;
}

.mens-watches img {
    height: 250px;
}

.smartphones, .motorcycle,
.mens-watches, .laptops {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 600px;
    padding: 0px 20px;
    flex-direction: column;
    color: white;
}

.smartphones a h2, .motorcycle a h2,
.mens-watches a h2, .laptops a h2 {
    font-size: 1.5rem;
    color: white;
    font-family: 'Poppins', sans-serif;
    margin: 5px 0px;
}

.agregar-carrito {
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    padding: 10px;
    margin: 10px 0px;
    width: 150px;
    height: 36px;
    border-radius: 8px;
    box-shadow: 0px 0px 5px #b489ff;
}

.agregar-carrito:hover {
    box-shadow: none;
    background-image: linear-gradient(90deg, #30b5ca,#2d21b5, #b489ff, #e073ec);
}




