@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-SemiBold.ttf');
}

.prod-carrito {
    width: calc(100% -50px);
    margin: 10px 25px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    background: linear-gradient(145deg, #00ddff, #2d21b5, #220258, #031627, #0a0a0a,#031627, #220258, #2d21b5, #00ddff);
    height: 200px;
    border-radius: 10px;
    padding: 0px 60px;
}

.prod-carrito .info-txt {
    width: auto;
    margin: 0px 20px;
}

.prod-carrito .precio {
    width: 100px;
    margin: auto 10px;
}

.prod-carrito h2, .prod-carrito h3, .prod-carrito p {
    color: white;
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

.prod-carrito h3 {
    color: rgb(169, 169, 169);
}

.prod-carrito img{
    object-fit: contain;
    height: 100px;
}

@media (max-width: 1400px) {
    .prod-carrito {
        width: 1000px;
        margin: auto 10px;
    }

    .prod-carrito .precio {
        font-size: 0.8rem;

    }

}

@media (max-width: 1200px) {
    .prod-carrito {
        width: 900px;
        height: 150px;
    }

    .prod-carrito img {
        width: 90px;
    }

    .prod-carrito .info-txt h3 {
        font-size: 0.8rem;
    }
}

@media (max-width: 1000px) {
    .prod-carrito {
        width: 700px;
    }

    .prod-carrito .info-txt h3 {
        font-size: 0.8rem;
    }

    .prod-carrito img {
        width: 50px;
    }
}

@media (max-width: 800px) {
    .prod-carrito {
        width: 500px;
    }
}