@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-SemiBold.ttf');
}

.counter-detail {
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: center;
    background: radial-gradient(#30b5ca,#2d21b5, #220258, #0d0c0c, #071b2e);
    background-size: 400% 400%;
    border-radius: 15px;
}

.counter-detail .agregar-boton-detail {
    width: 100%; 
    height: 40px;
    align-items: center;   /* Centra verticalmente */
    justify-content: center;
    border-radius: 0px 0px 15px 15px;
    border: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    background-color: transparent;
    padding-top: 1px;
    border-top: 0.5px solid white;
}

.botones-detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0;
    width: 130px;
    height: 40px;
    border-radius: 15px 15px 0px 0px;
}

.botones-detail h2, .contador .botones-detail button {
    margin: 0;
}

.botones-detail button {
    border: none;
    color: white;
    background-color: transparent;
    padding: 10px 20px;
}
